html
    head
        style(type='text/css')
    body.mac(unselectable='on')
        #header
        #wrapper
        #view_template
        #position_wrap.position-wrap(hidden='true')
        .position-wrap
        #tips2
            ul prasanna
            ul hari
            ul limaye
        #data_loading.animated.flipOutX