html    
    head
        title  RealTime Communication between Chrome browsers
        link(rel="stylesheet",href="../lim/main.css")
    body
        h1 Realtime Communication with WebRTC step-1

        br
        button#startButton Start
        button#callButton   Call
        button#hangupButton Hangup   
        br
        hr

        video(autoplay='true')
        br
        video#localvideo(autoplay='true')
        br
        video#remotevideo(autoplay='true')
        br
        script(src='../js/lib/adapter.js')
        script(src='../lim/main.js')

        